.wee {
  border: 1px solid green;
  height: 250px;
  text-align: center;
  padding: 70px 0;
}

#the-game-board {
  border: red 3px solid;
  padding-left: 13px;
  padding-right: 13px;
}

.mark {
  display: none;
}
