body {
  background-color: #102c59;
  color: #f7e11b;
}

.top {
  background-color: #5474a8;
  color: #f7e11b;
}

input {
  background-color: #5474a8;
  color: #f7e11b;
}

#game-btn {
  background-color: #f7e11b;
  color: #102c59;
  /*float: left;*/
}
/*
#show-players {
  background-color: #f7e11b;
  color: #102c59;
  margin-left: 10px;
}

#list-of-players {
  display: none;
}*/

mark, .mark {
  background-color: #102c59;
}

.wee {
  height: 250px;
  text-align: center;
  padding-top: 50px;
}

#five {
  border: 5px solid #f7e11b;
}

#four, #six {
  border-bottom: 5px solid #f7e11b;
  border-top: 5px solid #f7e11b;
}

#two, #eight {
  border-left: 5px solid #f7e11b;
  border-right: 5px solid #f7e11b;
}

#the-game-board {
  padding-left: 13px;
  padding-right: 13px;
}

.mark, .displayPlayerOne, .displayPlayerTwo, .displayPlayerTie {
  display: none;
}

img {
  width: 150px;
  height: 150px;
  padding-bottom: 20px;
}
